<tr>
  <td><%= table.start_time.strftime("%H:%M") %></td>
  <td>
    <% if table.start_time < @cutoff_time %>
       <span style="color: gray; font-weight: bold;">PAST</span>
    <% elsif table.is_closed %>
       <span style="color: red; font-weight: bold;">CLOSED</span>
    <% else %>
       <span style="color: green; font-weight: bold;">OPEN</span>
    <% end %>
  </td>
  <td><%= table.remaining_seats %> / <%= table.capacity %></td>
  <td>
     <% if table.start_time < @cutoff_time %>
        <button class="btn btn-secondary" disabled style="cursor: not-allowed; opacity: 0.6;">Expired</button>
     <% elsif table.is_closed %>
        <%= button_to "Open Slot", admin_toggle_table_path(table), method: :patch, class: "btn btn-success" %>
     <% else %>
        <%= link_to "Edit", edit_admin_table_path(table), class: "btn btn-warning", style: "margin-right: 5px;" %>
        <%= button_to "Close Slot", admin_toggle_table_path(table), method: :patch, class: "btn btn-danger", style: "display:inline-block;", data: { turbo_confirm: "Are you sure you want to close this slot?" } %>
     <% end %>
  </td>
</tr>
